INF OS_Tools SCRIPT VERSION 1.0
INF FIRSTSETUP  {{ birth_var.stdout }}
INF LOCATION    {{ location }}
INF LASTLOGGEDUSER  {{ last_login_output.stdout.split()[0] }}
INF PC_TYPE PC
INF PC_MODEL    {{ product_var.stdout }}
INF NETINFO {{ ansible_facts['default_ipv4']['macaddress'] }}   {{ ansible_facts['default_ipv4']['address'] }}  {{ ansible_facts['default_ipv4']['gateway'] }}
INF HDD C:  {{ (ansible_facts['mounts'][0]['size_total'] / 1024 / 1024 / 1024)  | round | int }}   {{ (ansible_facts['mounts'][0]['size_available'] / 1024 / 1024 / 1024)  | round | int }} {{ ansible_facts['mounts'][0]['mount'] }}  {{ ansible_facts['mounts'][0]['uuid'] }}
INF HDD D: N/A
INF TOTALMEMORY {{ (ansible_facts['memtotal_mb'] / 1024)  | round | int }}
INF CPUCORES    {{ ansible_facts['processor_cores'] }}
INF AVPROGRAMVER    N/A
INF AVBUILDNUM  N/A
INF AVSERVICEPACKVERSION    N/A
INF AVLASTHOTFIXDATE    N/A
INF AVENGINEZIPVER  N/A
INF AVPATTERNVERSION  N/A
INF AVPATTERNDATE   N/A
INF AVSERVER    N/A
INF AVSERVERPORT    N/A
INF AVLOCALSERVERPORT   N/A
INF AVCONNTOSERVER  N/A
INF CERTISSUER  ???
INF CERTSUBJECT ???
INF CERTNOTAFTER    ???
INF CERTEXPIREDAYS  ???
INF REBOOTPENDINGREASONS    {{ reboot_required_rpm.stdout | trim }}
INF OS_LICENSE  {{ os_license_rpm.stdout | trim }}
INF OS_LICENSE_DETAILS  {{ os_license_details_rpm.stdout | trim }}
INF DEVICEGUARD N/A
INF VMWARETOOLS {{ vmware_tools_version_var.stdout }}
INF REGISTRYLIST    N/A
INF INF_END
